@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
html{
  height: 100%;
}

body {
  text-align: center;
  font-family: "Red Hat Display";
  background: #efeeee;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"%3E%3Cpath fill="%23babcee" fill-opacity="1" d="M0,288L0,224L75.8,224L75.8,256L151.6,256L151.6,320L227.4,320L227.4,32L303.2,32L303.2,64L378.9,64L378.9,64L454.7,64L454.7,64L530.5,64L530.5,160L606.3,160L606.3,128L682.1,128L682.1,288L757.9,288L757.9,96L833.7,96L833.7,256L909.5,256L909.5,0L985.3,0L985.3,192L1061.1,192L1061.1,160L1136.8,160L1136.8,256L1212.6,256L1212.6,96L1288.4,96L1288.4,288L1364.2,288L1364.2,96L1440,96L1440,320L1364.2,320L1364.2,320L1288.4,320L1288.4,320L1212.6,320L1212.6,320L1136.8,320L1136.8,320L1061.1,320L1061.1,320L985.3,320L985.3,320L909.5,320L909.5,320L833.7,320L833.7,320L757.9,320L757.9,320L682.1,320L682.1,320L606.3,320L606.3,320L530.5,320L530.5,320L454.7,320L454.7,320L378.9,320L378.9,320L303.2,320L303.2,320L227.4,320L227.4,320L151.6,320L151.6,320L75.8,320L75.8,320L0,320L0,320Z%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: bottom;
}

h1{
  font-family: "Red Hat Display", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: #3c45e4;
}

#root{
  margin-bottom: auto;
}

